body {
  background: url("images/background.jpg") no-repeat right;
  height: 1987px;
  width: auto;
  margin: 0px;
  background-color: white;
  font-family: Helvetica Neue, Helvetica;
  color: black; }
  body a {
    color: orange;
    text-decoration: none; }
    body a:hover {
      color: purple; }
  body .content {
    margin: 0 0 0 auto;
    padding-left: 20px; }
    body .content h1 {
      font-weight: normal;
      padding: 25px 0 10px 0;
      margin: 0px 0px 500px 0px;
      font-size: 130px; }
    body .content p {
      text-align: justify;
      font-size: 17px;
      margin: 5px 0 10px 10px;
      padding: 0px; }
.resume-block {
    position: relative;
    margin: 10px 0 20px 20px;
    padding-top: 35px; }
    .resume-block:before, .resume-block:after {
      content: " ";
      display: table; }
    .resume-block:after {
      clear: both; }
    .resume-block .resume-skills {
      float: left;
      text-align: left; }
      .resume-block .resume-skills ul {
        padding: 0px;
        margin: 20px 0 0 0; }
        .resume-block .resume-skills ul li {
          list-style-type: none;
          text-align: right;
          height: 17px;
          margin: 0 10px 0 0;
          padding-right: 10px;
          font-style: italic;
          font-family: Georgia;
          font-weight: bold;
          font-size: 11px;
          background: white; }
          @media (max-width: 991px) {
            .resume-block .resume-skills ul li {
              font-size: 10px; } }

figure {
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start; }
  @media (max-width: 767px) {
    figure {
      flex-direction: column; } }
  figure p {
    position: absolute;
    top: 75px;
    left: 0px;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 10px;
    z-index: 100;
    padding: 0px;
    margin: 0px; }
  figure .bar {
    display: table-cell;
    vertical-align: top;
    padding: 0px;
    font-style: italic;
    font-size: 11px;
    text-align: center;
    z-index: 300; }
    figure .bar .graph-header {
      position: absolute;
      top: 73px;
      height: 18px;
      left: 0px;
      right: 0px; }
  figure > div {
    margin-top: 25px;
    font-size: 12px;
    position: relative; }
    @media (max-width: 767px) {
      figure > div {
        height: auto;
        width: 100%; } }
    figure > div.admin .bar {
      width: 14%; }
      figure > div.admin .bar .graph-header {
        background-color: #f77c7f; }
        figure > div.admin .bar .graph-header.dark {
          border-right: 15px solid #ff3f18; }
    figure > div.scripting .bar {
      width: 25%; }
      figure > div.scripting .bar .graph-header {
        background-color: #fd835e; }
        figure > div.scripting .bar .graph-header.dark {
          border-right: 15px solid #ffb317; }
    figure > div.frameworks .bar {
      width: 25%; }
      figure > div.frameworks .bar .graph-header {
        background-color: #ffdd4d; }
        figure > div.frameworks .bar .graph-header.dark {
          border-right: 15px solid #c1e31a; }
    figure > div.additional .bar {
      width: 50%; }
      figure > div.additional .bar .graph-header {
        background-color: #26c6d6; }
        figure > div.additional .bar .graph-header.dark {
          border-right: 15px solid #4fabec; }
    figure > div .beginner {
      height: 98px;
      width: 8px;
      margin: 0 auto;
      border: 0px;
      text-align: center;
      position: relative;
      background: url("/images/graph_sprite.png") -75px 0px no-repeat; }
      figure > div .beginner.alt {
        height: 115px; }
        figure > div .beginner.alt div {
          position: absolute;
          bottom: 0px;
          left: 3px; }
    figure > div .intermediate {
      height: 98px;
      width: 8px;
      margin: 0 auto;
      border: 0px;
      text-align: center;
      position: relative;
      background: url("/images/graph_sprite.png") -50px 0px no-repeat; }
      figure > div .intermediate.alt {
        height: 115px; }
        figure > div .intermediate.alt div {
          position: absolute;
          bottom: 0px;
          left: 3px; }
    figure > div .advanced {
      height: 98px;
      width: 8px;
      margin: 0 auto;
      border: 0px;
      text-align: center;
      position: relative;
      background: url("/images/graph_sprite.png") -25px 0px no-repeat; }
      figure > div .advanced.alt {
        height: 115px; }
        figure > div .advanced.alt div {
          position: absolute;
          bottom: 0px;
          left: 3px; }
    figure > div .expert {
      height: 98px;
      width: 8px;
      margin: 0 auto;
      border: 0px;
      text-align: center;
      position: relative;
      background: url("/images/graph_sprite.png") 0px 0px no-repeat; }
      figure > div .expert.alt {
        height: 115px; }
        figure > div .expert.alt div {
          position: absolute;
          bottom: 0px;
          left: 3px; }
